body {
  font-family: georgia;
  padding: 20px;
  background: black;
  margin: 0px;
}

/*Image will resize with browser screen*/
img{
  width: 100%;
  height:auto;
}

p{
  line-height: 1.5;
}

br{
  line-height: 1.5;
}


/* Right column */
.rightcolumn { 
  float: right;
  width: 75%;
}

/* Fake image: DELETE AFTER ALL IS DONE*/
.fakeimg {
  background-color: #aaa;
  width: 90%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  padding-right:47px;
  padding-left:47px;
  padding-bottom:25px;
  margin-top: 15px;
  margin-left: auto;
  margin-right:auto;
  width: 80%;
  font-size: 19px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*List of Links*/
.ulList{
  list-style-type: none;
}

/*Unvisited Link*/
a:link{
  color:black;

}

/*Visited Link*/
a:visited{
  color:black;
}

/*Hovered Link*/
a:hover{
  color: gray;
  text-decoration: none;
}


/*Side Navigation Bar*/
.sidenav{
  list-style-type: none;
  margin:0;
  padding: 25px;
  padding-left:0px;
  width: 22%;
  background-color: #202020;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 17.5px;
  top:0;
  left:0;
}

.sidenav li a {
  display: block;
  color: #BEBEBE;
  padding: 8px 16px;
  text-decoration: none;
  margin-left: 25px;
}
 
.sidenav li a.active {
  font-weight: bold;
}

.sidenav li a:hover{
  color: #8F8F8F;
}

.sidenav li a.active:hover{
  color: #8F8F8F;
}

/* Responsive layout*/
@media screen and (max-width: 800px) {
  /*Nav bar stacks on top*/
  .sidenav {
    width: 100%;
    height: auto;
    position:relative;
    padding:0px;
  }
  .sidenav li a {
    margin-left:0px;
    text-align: center;
    float: none;
  }
  /*Contents stack under Nav bar*/
  .rightcolumn{
    width: 100%;
    padding: 0;
  }
  .card{
    width:auto;
    margin-left: 0px;
  }
}